<h1>Listar Estoque dia <%= format_data(Date.today) %> </h1>

<table>
  <tr>
    <th>Produto</th>
    <th>Qtde</th>
  </tr>

<% @estoques.each do |estoque| %>
  <tr>
    <td><%= estoque.produto.nome %></td>
    <td><%= estoque.qtde %></td>
  </tr>
<% end %>
  <tr>
    <td>
      <b>Total: <%= @estoques.sum('qtde') %> <b>
    </td>
  </tr>
</table>
  

<br />
