<nav class="round">
  <ul>
    <li ><a href="/clientes">Clientes</a>
    <li ><a href="/estoques">Estoque</a>
    <li ><a href="/estoques/diario">Estoque Diario</a>
    <li ><a href="/produtos">Produto</a>
    <li ><a href="/vendas">Vendas</a>
    <li ><a href="/vendas/index_all">Todas as Vendas</a>
    </li>  
  </ul>
</nav>

